<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <title>BackEnd NodeJs Home</title>
    </head>

    <body>

        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>

        <form action="/add-user" method="post">
            <fieldset>
                <legend>Add new user:</legend>
                <div class="formContainer">
                    <label for="email">Email:</label><br>
                    <input type="email name=" email""><br><br>
                    <!-- id="email" name="email" -->
                    <label for="name">Name:</label><br>
                    <input type="text" name="name"><br><br>
                    <!-- id="fname" name="name" -->
                    <label for="city">City:</label><br>
                    <input type="text" name="city"><br><br>
                    <!--  id="lname" name="city" -->
                    <button>Submit</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>