<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <title>BackEnd NodeJs Home</title>
    </head>

    <body>
        <!-- navbar -->
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/create-user">Create User</a></li>
        </ul>
        <!-- img -->
        <div class="imgClass">
            <h3>
                NodeJS BackEnd
            </h3>
            <img src="/img/nodejs.png" alt="logo">
        </div>
        <!-- table -->
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>Peter</td>
                <td>Griffin</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>Lois</td>
                <td>Griffin</td>
                <td>$150</td>
            </tr>
            <tr>
                <td>Joe</td>
                <td>Swanson</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Cleveland</td>
                <td>Brown</td>
                <td>$250</td>
            </tr>
        </table>

    </body>
</html>