<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nodejs server</title>
    </head>
    <body>
        <h3>
            NodeJS BackEnd
        </h3>
        <img src="/img/nodejs.png" alt="logo">
    </body>
</html>