* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

form {
    width: 600px;
    margin: 60px auto;
}

.formContainer {
    padding: 30px;
}

.imgClass {
    width: 800px;
    height: auto;
    margin: 100px auto;
}

img {
    width: 100%;
    margin: 0 auto;
}

.tableContainer {
    width: 800px;
    height: auto;
    margin: 30px auto;
}

.tableTitle {
    font-size: 24px;
    font-weight: 500;
    color: #04AA6D
}

.table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #ccc;
}